[submodule "fwlib"]
	path = driver/external/fwlib
	url = https://github.com/strangesast/fwlib.git
[submodule "cJSON"]
	path = driver/external/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "librdkafka"]
	path = driver/external/librdkafka
	url = https://github.com/edenhill/librdkafka.git
